:root {
    --bg-color: #F9F9F9;
    --card-bg-color: #fff;
    --text-color: #2e2e2e;
    --accent-color: #78CDD7;
    --accent2-color: #F25757;
    --link-color: #666c6d;
    --hover-color: #a4afb0;
}

/* Main */
body {
    font-family: 'Lato', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 10px;
    line-height: 120%;
    letter-spacing: 1px;
}

button {
    background: none;
    border: none;
}

button:focus {
    outline: none;
}

label {
    font-size: 1.2em;
    text-transform: capitalize;
}

svg text {
    text-transform: capitalize;
}

/* Layout */

.info {
    font-size: 0.6em;
    letter-spacing: 0;
}

.topbar {
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    background-color: var(--card-bg-color);
}

.topbar button {
    color: var(--link-color);
    margin-left: 20px;
    text-transform:uppercase;
    font-size: 1em;
    transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}

.topbar button.active {
    color: #2e2e2e;
}

.topbar button:hover {
    color: var(--hover-color);
    cursor: pointer;
    transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}

.pageTitle {
    /*text-transform: uppercase;*/
    font-size: 1.2em;
    display: inline-block;
}

.navigation {
    /*float: right;*/
    display: inline-block;
}

.card {
    border: none;
    background-color: var(--card-bg-color);
    border-radius: 5px;
    padding: 15px;
}

/* Tabs */

.tab {
    margin: 10px;
    overflow: hidden;
    animation: rollDownEffect 2s;
}

#reportTab {
    display: none;
}

#litTab {
    display: none;
}

/* Options */

#options {
    height: 350px;
    padding: 10px;
}

.custom-control {
    margin-bottom: 5px;
}

.custom-control-label:hover {
    color: var(--hover-color);
    cursor: pointer;
    transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}

.custom-control-label::before {
    top: -1px;
    width: 1.2em;
    height: 1.2em;
}

.custom-control-label::after {
    top: -1px;
    width: 1.2em;
    height: 1.2em;
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: none;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
}

.buttonToggle {
    font-size: 0.8em;
    font-weight: 400;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.buttonToggle.left {
    border-radius: 5px 0 0 5px;
}

.buttonToggle.right {
    border-radius: 0 5px 5px 0;
}

.buttonToggle:disabled {
    background-color: var(--accent-color);
    color: var(--card-bg-color);
}

/* SVG */

.tooltip {
    padding: 5px;
    width: 80px;
    font-size: 1em;
    text-align: center;
    text-transform: capitalize;
    background-color: var(--bg-color);
    opacity: 0.8;
}

#parentCat {
    color: var(--accent-color);
}

.bar {
    fill: var(--accent-color);
}

.bar.more {
    stroke: var(--accent2-color);
    stroke-width: 2px;
}

.bar.more:hover {
    cursor: pointer;
}

.averageLine {
    stroke: var(--accent2-color);
    stroke-width: 1px;
    stroke-dasharray: 5;
    animation: appearEffect 1s;
}

.averageLineLabel {
    font-size: 0.9em;
    fill: var(--accent2-color);
    animation: appearEffect 1s;
}

.xAxisBar text {
    font-size: 0.75em;
}


/* Animation */

@keyframes rollDownEffect {
    from {max-height: 0}
    to {max-height: 800px;}
}

@keyframes appearEffect {
    from {opacity: 0}
    to {opacity: 1}
}